Olá <strong>{{organizer}}</strong>

<p>Uma pessoa se inscreveu no Meetup {{meetup}}, veja abaixo os dados dessa pessoa:</p>

<p>
  Nome: <strong> {{user}} </strong> <br />
  Email: <strong> {{email}} </strong> <br />
</p>
